@value unit, font, font-size, dark-gray-color, error-color from "@jetbrains/ring-ui/components/global/global.css";

.weather {
  display: flex;
  flex-flow: column wrap;
  box-shadow: 0 1px 10px 0 #CFCFCF;
  overflow: hidden;
}

.weatherCurrent {
  display: flex;
  flex-flow: row wrap;
  color: #AAA;
  padding: 20px;
}

.weatherCurrentInfo {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  flex-grow: 2;

  @media (max-width:200px) {
    flex-flow: row wrap;
  }
}

.weatherCurrentInfoCity {
  font-size: 26px;
}

.weatherCurrentInfoTemp {
  font-size: 56px;
  margin: 28px 0;
}

.weatherCurrentInfoCityWind {
  font-size: 24px;
}

.weatherCurrentIcon {
  text-align: center;
  font-size: 64px;
  flex-grow: 1;
}
